.git
.gitignore
.github
.vs
.vscode
.idea
.dotnet
.dotnet-home
.packages
.appdata
**/bin
**/obj
**/.artifacts
**/*.db*
**/*.db
**/*.db-shm
**/*.db-wal
**/*.sqlite
**/*.sqlite3
**/.keys
**/.env
**/.env.*
**/appsettings.Local.json
**/appsettings.*.local.json
backend/appsettings.Development.json
**/*.key
**/*.pem
**/*.pfx
storage
test-data
frontend
backend.Tests
docs
*.user
*.suo
*.tsbuildinfo
README.md
SACE.sln
